@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');


* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    gap: 0;
}


.square {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .red {
    background-color: red;
  }
  
  #border {
    border: 3px solid black;
  }

  .blue {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }

  .yellow {
    background-color: yellow;
  }
  