@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');


* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 2rem;
    padding: 2rem;
    width: 80%;
    max-height: 80%;
    background-color: #c5c5c5;
    display: flex;
    overflow-y: scroll;
}

.title-container {
    width: 700px;
    height: 700px;
    padding: 2rem ;
    background-color: #ffff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    padding: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #c5c5c5;
}